.form-control {
  margin: 1rem 0;
}

.product-form {
  width: 30rem;
  max-width: 90%;
  margin: auto;
}

.form-control label,
.form-control input {
  display: block;
  width: 100%;
}

.form-control input {
  border: 1px solid #dcb441;
  font: inherit;
  border-radius: 2px;
}

button {
  font: inherit;
  border: 1px solid rgb(50, 0, 97);
  color: rgb(50, 0, 97);
  border-radius: 3px;
  cursor: pointer;
  background-color: #fff;
}

button:active,
button:hover {
  border: 1px solid rgb(50, 0, 97);
  color: #fff;
  background-color: rgb(50, 0, 97);
}
